<div class="header">
  <div class="header-left">
    <a href="" class="burger-menu"><i data-feather="menu"></i></a>
  </div>

  <div class="header-right">
<!--     <div class="logged-in">
      <h6>Logged in as <%= current_user.email %></h6>
    </div> -->

    <div class="dropdown dropdown-notification">
      <a href="" class="dropdown-link new" data-toggle="dropdown"><i data-feather="bell"></i></a>
      <div class="dropdown-menu dropdown-menu-right">
        <div class="dropdown-menu-header">
          <h6>Notifications</h6>
          <a href=""><i data-feather="more-vertical"></i></a>
        </div><!-- dropdown-menu-header -->
        <div class="dropdown-menu-body">
          <a href="" class="dropdown-item">
            <div class="avatar"><span class="avatar-initial rounded-circle text-primary bg-primary-light">s</span></div>
            <div class="dropdown-item-body">
              <p><strong>Kingdom Credit Alert</strong> Your account has been credited with N10,000,000 amount for META project. </p>
              <span>5 hours ago</span>
            </div>
          </a>
          <a href="" class="dropdown-item">
            <div class="avatar"><span class="avatar-initial rounded-circle tx-pink bg-pink-light">r</span></div>
            <div class="dropdown-item-body">
              <p><strong>The Haven E-Series</strong> The E-Series "Business Planning" is coming up on Friday, 21st November, 2019. </p>
              <span>8 hours ago</span>
            </div>
          </a>
          <a href="" class="dropdown-item">
            <div class="avatar"><span class="avatar-initial rounded-circle tx-success bg-success-light">d</span></div>
            <div class="dropdown-item-body">
              <p><strong>Kingdom Credit Alert</strong> Your account has been credited with N2,000,000 amount for MOG 2019 project. </p>
              <span>a day ago</span>
            </div>
          </a>
          <a href="" class="dropdown-item">
            <div class="avatar"><span class="avatar-initial rounded-circle tx-indigo bg-indigo-light">k</span></div>
            <div class="dropdown-item-body">
              <p><strong>The Haven E-Series</strong> The E-Series "New Business Opportunities" is coming up on Friday, 21st November, 2019. </p>
              <span>2 days ago</span>
            </div>
          </a>
        </div><!-- dropdown-menu-body -->
        <div class="dropdown-menu-footer">
          <a href="">View All Notifications</a>
        </div>
      </div><!-- dropdown-menu -->
    </div>
    <div class="dropdown dropdown-loggeduser">
      <a href="" class="dropdown-link" data-toggle="dropdown">
        <div class="avatar avatar-sm">
          <img src="https://via.placeholder.com/500/637382/fff" class="rounded-circle" alt="">
        </div><!-- avatar -->
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <div class="dropdown-menu-header">
          <div class="media align-items-center">
            <div class="avatar">
              <img src="https://via.placeholder.com/500/637382/fff" class="rounded-circle" alt="">
            </div><!-- avatar -->
            <div class="media-body mg-l-10">
              <h6>Temitope Adediran</h6>
              <span>Member</span>
            </div>
          </div><!-- media -->
        </div>
        <div class="dropdown-menu-body">
          <%= link_to profile_path(current_user), class: "dropdown-item" do %>
            <i data-feather="user"></i> View Profile
          <% end %>

          <%= link_to edit_profile_path(current_user), class: "dropdown-item" do %>
            <i data-feather="edit-2"></i> Edit Profile
          <% end %>

          <%= link_to account_settings_path(current_user), class: "dropdown-item" do %>
            <i data-feather="briefcase"></i> Account Settings
          <% end %>

          <%= link_to edit_user_path(current_user), class: "dropdown-item" do %>
            <i data-feather="shield"></i> Privacy Settings
          <% end %>

          <% if current_user %>
            <%= link_to logout_path, class: "dropdown-item" do %>
              <i data-feather="log-out"></i> Log Out
            <% end %>
          <% end %>
        </div>
      </div><!-- dropdown-menu -->
    </div>
  </div><!-- header-right -->
</div><!-- header -->