<div class="sidebar">
  <div class="sidebar-header">
    <div>
      <%= link_to root_path, class: "sidebar-logo" do %>
        <span>The Haven portal</span>
      <% end %>
    </div>
  </div><!-- sidebar-header -->
  <div id="dpSidebarBody" class="sidebar-body">
    <ul class="nav nav-sidebar">
      <li class="nav-item show">
        <%= link_to dashboard_path, class: "nav-link with-sub active" do %>
          <i data-feather="box"></i> Dashboard</a>
        <% end %>

        <ul class="nav nav-sub">
          <li class="nav-sub-item">
            <%= link_to "2019 Giving Records", account_settings_path(current_user), class: "nav-sub-link" %>
          </li>
<!--           <li class="nav-sub-item"><a href="dashboard-two.html" class="nav-sub-link">Projects &amp; Web Services</a></li>
          <li class="nav-sub-item"><a href="dashboard-three.html" class="nav-sub-link">Blog &amp; Social Media</a></li> -->
        </ul>
      </li>

      <li class="nav-item show">
        <%= link_to account_settings_path(current_user), class: "nav-link with-sub" do %>
          <i data-feather="user"></i>
          Events
        <% end %>
      </li>

      <li class="nav-item show">
        <%= link_to profile_path(current_user), class: "nav-link with-sub" do %>
          <i data-feather="user"></i>
          Profile
        <% end %>
        <nav class="nav nav-sub">
          <li><%= link_to "Account Settings", account_settings_path(current_user), class: "nav-sub-link" %></li>
          <li><%= link_to "Password Settings", edit_user_path(current_user), class: "nav-sub-link" %></li>
        </nav>
      </li>

  </div><!-- sidebar-body -->
</div><!-- sidebar -->
