<div class="signin-panel">
  <div class="signin-sidebar">
    <div class="signin-sidebar-body">
      <%= link_to root_path, class: "sidebar-logo mg-b-40 mg-t-60" do %>
        <%= image_tag asset_path("haven-logo.png") %>
      <% end %>

      <h4 class="signin-title">Log in</h4>

      <div class="signin-form">
        <%= form_tag sessions_path do |form| %>

          <div class="form-group">
            <%= label_tag :email, "Email address" %>
            <%= text_field_tag :email, nil,  class: "form-control" %>
          </div>

          <div class="form-group">
            <label class="d-flex justify-content-between">
              <%= label_tag :password %>
              <%= link_to "Forgot password?", forgot_password_path, class: "tx-13 text-link" %>
            </label>
            <%= password_field_tag :password, nil, class: "form-control" %>
          </div>

          <div class="form-group d-flex mg-b-0">
            <%= button_tag "Sign In", class: "btn btn-brand-01 btn-uppercase flex-fill" %>
            <%= link_to "Sign Up", signup_path, class: "btn btn-white btn-uppercase flex-fill mg-l-10" %>
          </div>
        <% end %>
      </div>

      <p class="mg-t-auto mg-b-0 tx-sm tx-color-03">By signing in, you agree to our <a href="", class= "text-link">Terms of Use</a> and <a href="", class="text-link">Privacy Policy</a></p>
    </div><!-- signin-sidebar-body -->
  </div><!-- signin-sidebar -->
</div><!-- signin-panel -->
