<h1>User Profile page</h1>
<nav class="">
  <% if current_user %>
    <p>Logged in as <%= current_user.email %></p>
    <%= link_to "Log Out", logout_path %>
  <% end %>
</nav>

<% if flash.any? %>
  <%= render partial: "layouts/flash" %>
<% end %>

<h5>Change Password</h5>

<%= form_for(@password_form, url: change_password_path, method: :post) do |f| %>
  <% if @password_form.errors.any? %>
    <div class="error-messages">
      <ul class="no-bullets">
        <% @password_form.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :original_password, "Current password" %>
    <%= f.password_field :original_password %>
  </div>

  <div class="field">
    <%= f.label :new_password, "New password" %>
    <%= f.password_field :new_password %>
  </div>

  <div class="field">
    <%= f.label :new_password_confirmation, "Confirm new password" %>
    <%= f.password_field :new_password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit t("views.users.edit.button") %>
  </div>
<% end %>
