<% if flash.any? %>
  <%= render partial: "layouts/flash" %>
<% end %>
<%= render partial: "dashboard/sidebar" %>

<div class="content content-page">
  <%= render partial: "dashboard/navbar" %>

  <div class="col-md-10 mg-t-20">
    <div class="card card-body pd-sm-40 pd-md-30 pd-xl-y-35 pd-xl-x-40">
      <!-- <div class="tab-content"> -->
        <div class="content-body">
          <h3 class="tx-uppercase tx-semibold tx-color-01 mg-b-0">Edit Profile</h3>
          <br>
          <p class="mg-b-20">All information provided will be treated with a high level of confidentiality. Only your chapter governor and leaders have access to view your profile.</p>


          <%= simple_form_for(@user, as: :user, method: :patch, url: update_profile_path) do |f| %>
            <% if @user.errors.any? %>
              <div class="error-messages">
                <ul>
                  <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="mg-t-20 component-section no-code">
              <div id="wizard1">
                <h3>Personal Information</h3>
                <br>
                <section class="mg-b-30">
                  <div class="row row-sm">
                    <div class="form-group col-sm-4 wd-md-50p">
                      <label for="title">Title</label>
                      <%= f.input :title, collection: %w[Pst. Dcn. Dcns Bro. Sis.], selected: current_user.title, prompt: "Select title", label: false, wrapper: false, required: true, input_html: { class: "custom-select" } %>
                    </div>
                  </div>

                  <div class="row row-sm">
                    <div class="form-group col-sm-6">
                      <label>Fullname</label>
                      <%= f.text_field :first_name, class: "form-control", placeholder: "First name", required: true %>
                    </div><!-- col -->

                    <div class="form-group col-sm-6 d-flex align-items-end">
                      <%= f.text_field :last_name, class: "form-control", placeholder: "Last name", required: true %>
                    </div><!-- col -->

                    <div class="form-group col-sm-3">
                      <label>Phone number</label>
                      <%= f.text_field :phone_no, class: "form-control", required: true %>
                    </div>

                    <div class="form-group col-sm-3">
                      <label>Additional phone number</label>
                      <%= f.text_field :additional_phone_no, class: "form-control" %>
                    </div>

                    <div class="form-group col-sm-3">
                      <label>Date of Birth</label>
                      <%= f.date_field :date_of_birth, class: "form-control", placeholder: "Birthday", required: true %>
                      <div id="datepicker3"></div>
                    </div>

                    <div class="form-group col-sm-3">
                      <label for="gender">Gender</label>
                      <%= f.input :gender, collection: %w[Male Female], prompt: "Select gender", label: false, wrapper: false, required: true, input_html: { class: "custom-select" } %>
                    </div>

                    <div class="form-group col-sm-4">
                      <label>Country</label>
                      <%= f.country_select(:country, { priority_countries: ["NG", "ZA", "CA", "GB", "US"], selected: current_user.country, include_blank: 'Select a country' }, { class: 'custom-select' }) %>
                    </div>

                    <div class="form-group col-sm-4">
                      <label>State</label>
                      <%= f.text_field :state, class: "form-control", placeholder: "e.g Lagos" %>
                    </div>

                    <div class="form-group col-sm-4">
                      <label>City</label>
                      <%= f.text_field :city, class: "form-control", placeholder: "e.g Ikeja" %>
                    </div>

                    <div class="form-group col-sm-8">
                      <label>Home address</label>
                      <%= f.text_field :home_address, class: "form-control", placeholder: "e.g 21/23 Billings Way, Oregun" %>
                    </div>

                    <div class="form-group col-sm-4">
                      <label>Your Local Church</label>
                      <%= f.text_field :current_local_church, class: "form-control", placeholder: "e.g CELVZ" %>
                    </div>
                    <div class="form-group col-sm-4">
                      <label for="marital_status">Marital Status</label>
                      <%= f.input :marital_status, collection: %w[Single Married], selected: current_user.marital_status, label: false, wrapper: false, input_html: { class: "custom-select" } %>
                    </div>
                  </div>
                  <label><b>If Married</b></label>
                  <br>
                  <div class="row row-sm">
                    <div class="form-group col-sm-6">
                      <label for="name_of_spouse">Name of Spouse</label>
                      <%= f.text_field :name_of_spouse, class: "form-control" %>
                    </div>

                    <div class="form-group col-sm-4">
                      <label>Wedding Anniversary</label>
                      <%= f.date_field :wedding_anniversary, class: "form-control" %>
                      <div id="datepicker3"></div>
                    </div>

                    <%= f.fields_for(:family, f.object.family) do |ff| %>
                      <div class="form-group col-sm-2">
                        <label>No of Children</label>
                        <%= ff.input(:no_of_children, collection: %w[0 1 2 3 4 5 5+], selected: current_user.family.no_of_children, label: false, wrapper: false, input_html: { class: "custom-select" }) %>
                      </div>

                      <div class="form-group col-sm-4">
                        <label>Is your spouse in your local church?</label>
                        <%= ff.input(:spouse_in_christ_embassy, collection: [["Yes", true], ["No", false]], selected: current_user.family.spouse_in_christ_embassy, label: false, wrapper: false, input_html: { class: "custom-select" }) %>
                      </div>

                      <div class="form-group col-sm-4">
                        <label>Spouse Care Group</label>
                        <%= ff.input(:spouse_care_group, label: false, class: "form-control") %>
                      </div>
                    <% end %>

                  </div><!-- form-row -->
                </section>

                <h3>Membership Information</h3>
                <br>
                <section class="mg-b-30">
                  <div class="row row-sm">
                    <div class="form-group col-sm-3">
                      <label for="title">Designation</label>
                      <%= f.input :designation, collection: %w[President International\ Director Zonal\ Director Zonal\ Secretary Deputy\ Zonal\ Secretary Governor Deputy\ Governor Assistant\ Governor Cell\ Leader Member], selected: current_user.designation, prompt: "Select designation", label: false, wrapper: false, required: true, input_html: { class: "custom-select" } %>
                    </div>

                    <div class="form-group col-sm-4">
                      <label>Cell</label>
                      <%= f.text_field :cell, class: "form-control" %>
                    </div>

                    <div class="form-group col-sm-3">
                      <label>Chapter</label>
                      <%= f.association :chapter, label_method: :name, value_method: :id, prompt: "Select chapter", label: false, wrapper: false, input_html: { class: "custom-select" } %>
                    </div>

                    <div class="form-group col-sm-2">
                      <label for="zone">Zone</label>
                      <%= f.association :zone, label_method: :name, value_method: :id, prompt: "Select zone",  label: false, wrapper: false, input_html: { class: "custom-select" } %>
                    </div>

                    <div class="form-group col-sm-6">
                      <label>Date You Got Born Again</label>
                      <%= f.date_field :date_born_again, class: "form-control", placeholder: "e.g 13th March, 1997" %>
                      <div id="datepicker3"></div>
                    </div>

                    <div class="form-group col-sm-6">
                      <label>Date You Joined Christ Embassy</label>
                      <%= f.date_field :date_joined_christ_embassy, class: "form-control", placeholder: "e.g 13th March, 1997" %>
                      <div id="datepicker3"></div>
                    </div>

                    <div class="form-group col-sm-6">
                      <label>Water Baptism</label>
                      <%= f.input :water_baptized, collection: [["Yes", true], ["No", false]], label: false, class: "form-control", prompt: "Are you Water Baptized?" %>
                    </div>

                    <div class="form-group col-sm-6">
                      <label>If Yes, When?</label>
                      <%= f.date_field :date_water_baptized, class: "form-control", placeholder: "e.g 13th March, 1997" %>
                      <div id="datepicker3"></div>
                    </div>

                    <div class="form-group col-sm-6">
                      <label>Foundation School</label>
                      <%= f.input :completed_foundation_school, collection: [["Yes", true], ["No", false]], label: false, class: "form-control", prompt: "Have you completed Foundation School?" %>
                    </div>

                    <div class="form-group col-sm-6">
                      <label>If Yes, When?</label>
                      <%= f.date_field :date_completed_foundation_school, class: "form-control", placeholder: "e.g 13th March, 1997" %>
                      <div id="datepicker3"></div>
                    </div>
                  </div><!-- row -->

                  <label><b>Previous Membership</b></label>
                  <br>
                  <div class="row row-sm">
                    <%= f.fields_for(:previous_membership, f.object.previous_membership) do |ff| %>
                      <div class="form-group col-sm-6">
                        <label>Have you been registered in The Haven before?</label>
                        <%= ff.input(:registered, collection: [["Yes", true], ["No", false]], selected: current_user.previous_membership.registered, label: false, wrapper: false, input_html: { class: "custom-select" }) %>
                      </div>

                      <div class="form-group col-sm-6">
                        <label for="chapter">Which chapter/cell did you belong to?</label>
                        <%= ff.input(:chapter, label: false, class: "form-control") %>
                      </div>

                      <div class="form-group col-sm-6">
                        <label for="chapter">Cell Leader's Name</label>
                        <%= ff.input(:cell_leader_name, label: false, class: "form-control") %>
                      </div>

                      <div class="form-group col-sm-6">
                        <label for="chapter">Cell Leader's Phone number</label>
                        <%= ff.input(:cell_leader_phone_no, label: false, class: "form-control") %>
                      </div>
                    <% end %>
                </section>
                <br>

                <h3>Employment Information</h3>
                <section class="mg-b-30">
                  <div class="row row-sm">

                  </div><!-- row -->
                </section>
              </div>
            </div><!-- component-section -->
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
