<div class="signup-panel">
  <div class="signup-sidebar">
    <div class="signup-sidebar-body">
      <%= render partial: "home/haven_logo" %>

      <h4 class="signup-title">Create new account</h4>

      <%= form_for(@user, url: users_path) do |f| %>
          <% if @user.errors.any? %>
            <div>
              <ul class="no-bullets">
              <% @user.errors.full_messages.each do |message| %>
                <li class="flash-message alert-msg"><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

        <div class="signup-form">
          <div class="">
            <div class="">
              <div class="form-group">
                <%= f.label :email, "Email address" %>
                <%= f.text_field :email, class: "form-control" %>
              </div>
            </div><!-- col -->

            <div class="">
              <div class="form-group">
                <%= f.label :password, "Password" %>
                <%= f.password_field :password, class: "form-control" %>
              </div>
            </div><!-- col -->

            <div class="">
              <div class="form-group">
                <%= f.label :password_confirmation, "Confirm password" %>
                <%= f.password_field :password_confirmation, class: "form-control" %>
              </div>
            </div><!-- col -->
          </div><!-- row -->

            <div class="form-group mg-b-30">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="agree">
                <label class="custom-control-label tx-sm" for="agree">I have read and agree to your <a href="", class= "text-link">Terms of Use</a> and <a href="", class= "text-link">Privacy Policy</a></label>
              </div>
            </div>
            <div class="form-group d-flex mg-b-0">
              <%= f.button t("views.users.new.button"), class: "btn btn-brand-01 btn-block" %>
            </div>
            <p class="mg-t-auto mg-b-0 tx-color-01">Already have an account?
              <%= link_to "Log in", login_path, class: "text-link" %>
            </p>
          </div>
        </div>
      <% end %>

    </div><!-- signup-sidebar-body -->
  </div><!-- signup-sidebar -->
</div><!-- signup-panel -->

