<% if flash.any? %>
  <%= render partial: "layouts/flash" %>
<% end %>
<%= render partial: "dashboard/sidebar" %>

<div class="content content-page">
  <%= render partial: "dashboard/navbar" %>

  <div class="content-body content-body-profile">
    <div class="profile-sidebar">
      <div class="profile-sidebar-header">
        <div class="avatar">
          <img src="https://via.placeholder.com/500/637382/fff" class="rounded-circle" alt="">
        </div>
        <h5>
          <%= @user.title || "<your title" %>
          <%= @user.first_name || "<your first name>" %>
          <%= @user.last_name || "<your last name>" %>
        </h5>
        <p>
          <%= @user.designation || "<your designation>" %>,
          <%= @user.user_zone %>
        </p>
      </div><!-- profile-sidebar-header -->

      <div class="profile-sidebar-body">
        <hr class="mg-y-25">

        <label class="content-label">Contact Information</label>
        <ul class="list-unstyled profile-info-list mg-b-0">
          <li><i data-feather="smartphone"></i><%= @user.phone_no %></li>
          <!-- <li><i data-feather="phone"></i> <a href=""><%= @user.additional_phone_no %></a></li> -->
          <li><i data-feather="mail"></i> <a href=""><%= @user.email %></a></li>
          <li><i data-feather="home"></i>
            <span class="tx-color-03">
              <%= @user.city %>, <%= @user.state %>, <%= @user.country %>
            </span>
          </li>
          <!-- <li><i data-feather="briefcase"></i> <span class="tx-color-03">Bay Area, San Francisco, CA</span></li> -->
        </ul>
      </div><!-- profile-sidebar-body -->
    </div><!-- profile-sidebar -->
    <div class="profile-body">
      <%= render partial: "profile_navbar" %>

      <div class="tab-content pd-15 pd-sm-20">
        <div id="overview" class="tab-pane active show">

          <label class="content-label content-label-lg mg-b-15 tx-color-01">Biography</label>
          <p class="tx-color-03">Redhead, Innovator, Saviour of Mankind, Hopeless Romantic, Attractive 20-something Yogurt Enthusiast. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>

          <hr class="mg-y-15 op-0">

          <label class="content-label content-label-lg mg-b-15 tx-color-01">Work Experience</label>
          <ul class="list-unstyled media-list-profile">
            <li class="media">
              <div class="wd-40 ht-40 bg-teal op-5"></div>
              <div class="media-body">
                <h6 class="mg-b-5 tx-semibold">Themepixels, Inc. LTD</h6>
                <p class="tx-color-03 tx-13">January 2016 - Present</p>
                <p>An online-based high performing web and mobile development company, with a passion for making high quality web-based application and services for businesses and organization. </p>
              </div>
            </li>
            <li class="media">
              <div class="wd-40 ht-40 bg-primary op-5"></div>
              <div class="media-body">
                <h6 class="mg-b-5 tx-semibold">Berkeley Systems, Inc.</h6>
                <p class="tx-color-03 tx-13">December 2012 - November 2015</p>
              </div>
            </li>
            <li class="media">
              <div class="wd-40 ht-40 bg-pink op-5"></div>
              <div class="media-body">
                <h6 class="mg-b-5 tx-semibold">Berkeley Systems, Inc.</h6>
                <p class="tx-color-03 tx-13">December 2012 - November 2015</p>
              </div>
            </li>
          </ul><!-- media-list-profile -->

          <hr class="mg-y-15 op-0">

          <label class="content-label content-label-lg mg-b-15 tx-color-01">Educational Background</label>
          <ul class="list-unstyled media-list-profile">
            <li class="media">
              <div class="wd-40 ht-40 bg-gray-400"></div>
              <div class="media-body">
                <h6 class="mg-b-5 tx-semibold">Graduate in BS in Computer Science</h6>
                <p class="tx-color-03 tx-13">Hold Name University class 2006</p>
              </div>
            </li>
            <li class="media">
              <div class="wd-40 ht-40 bg-gray-400"></div>
              <div class="media-body">
                <h6 class="mg-b-5 tx-semibold">Sacred Heart Academy</h6>
                <p class="tx-color-03 tx-13">High school graduate class 2002</p>
              </div>
            </li>
            <li class="media">
              <div class="wd-40 ht-40 bg-gray-400"></div>
              <div class="media-body">
                <h6 class="mg-b-5 tx-semibold">Loon Central Elementary School</h6>
                <p class="tx-color-03 tx-13">Elmentary graduate class 1998</p>
              </div>
            </li>
          </ul>
        </div>
      </div><!-- tab-content -->
    </div><!-- profile-body -->
  </div>
</div>
